
.container{
  display: flex;
  justify-content: start;
  
}
h2{
  margin-left: 180px;
}
form{
  border-radius: 10%;
  margin-left: 20px;
  width: 500px;
  height: 700px;
  border: 1px solid #000;
}

.name__bar{
  margin-top: 70px;
  margin-left: 40px;
  width: 400px;
  font-size: 20px;
  height: 50px;
}

.date__bar{
  margin-top: 70px;
  margin-left: 40px;
  width: 400px;
  font-size: 20px;
  height: 50px;
}

.image__bar{
  margin-top: 70px;
  margin-left: 40px;
  width: 400px;
  font-size: 20px;
  height: 50px;
}

.color__bar{
  margin-top: 70px;
  margin-left: 40px;
  width: 400px;
  font-size: 20px;
  height: 50px;
}


.submit__btn{
  margin-top: 30px;
  margin-left: 40px;
  width: 400px;
  font-size: 20px;
  height: 50px;
  
  
}

/* __________________card item______ */

.student__card{
  /* display: none; */
}

.card__item{
  margin-top: 100px;
  margin-left: 100px;
  border-radius: 10px;
  border: 4px solid #000;
  width: 600px;
  height: 300px;
}

.card__header__item{
  background: blue;
  width: 600px;
  height: 150px;
  border: 2px solid #000;
  display: flex;
  
  border-radius: 5px;
}

.card__photo{
  margin-left: 30px;
  margin-top: 5px;
  height: 140px;
  border-radius: 50%;
}


.profile__name{
  margin-right: 50px;
  font-size: 50px;
  color: aliceblue;
  margin-left: 25px;
  text-align: center;
}

.card__age{
  margin-left: 280px;
}

.name__error{
  margin-left: 40px;
}